body{
  background-image: url('1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: 'Snowburst One', cursive;
  margin:0;
  padding:0;
}

audio{
  right:0px;
  bottom:0px;
  position: absolute;
}

.container, .snow {
  z-index: 100;
  pointer-events: none;
}

.container {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: falling linear infinite both;
          animation: falling linear infinite both;
  -webkit-transform: translate3D(0, -100%, 0);
          transform: translate3D(0, -100%, 0);
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
          background-size: contain;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3D(-7.5%, -100%, 0);
            transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    -webkit-transform: translate3D(7.5%, 100%, 0);
            transform: translate3D(7.5%, 100%, 0);
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translate3D(-7.5%, -100%, 0);
            transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    -webkit-transform: translate3D(7.5%, 100%, 0);
            transform: translate3D(7.5%, 100%, 0);
  }
}



/* intro */
h1{
font-family: Poppins;
font-weight: bold;
color: #fff;
font-size: 42px;
text-transform: uppercase;
padding: 0.4em 1em;
position: absolute;
top:40%;
left:46%;
transform: translate(-50%,-50%);

}
.rev-block {
     position: absolute;
}

.rev-block span {
     opacity: 0;
     animation: appear-text 0.0001s linear forwards;
     animation-delay: 1.4s;
}

.rev-block:after {
     content: '';
     top: 0;
     left: 0;
     position: absolute;
     width: 0%;
     height: 100%;
     background: red;
     animation: rev-block 2.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
     animation-delay: 1s;
}

@keyframes rev-block {

     0% {
          left: 0;
          width: 0%;
     }
     50% {
          left: 0;
          width: 100%;
     }
     100% {
          left: 100%;
          width: 0%;
     }

}

@keyframes appear-text {
0% {
   opacity:0;
}
100% {
  opacity: 1;
}

}

#onemore {
     top: 51%;
     left: 58%;
}

#onemore span {
     animation-delay: 2s;
}

#onemore.rev-block:after {
     background: #fff;
     animation-delay: 1.4s;
}

@media only screen and (max-width: 900px) {
     h1 {
          font-size: 20px;
          padding: 0.4em;
     }
}

h1{
  font-family: 'Snowburst One', cursive;
  animation: colorchange 20s infinite alternate;
}

@keyframes colorchange {
  0% {

          color: blue;
        }

        10% {

          color: #8e44ad;
        }

        20% {

          color: #1abc9c;
        }

        30% {

          color: #d35400;
        }

        40% {

          color: blue;
        }

        50% {

          color: #34495e;
        }

        60% {

          color: blue;
        }

        70% {

          color: #2980b9;
        }
        80% {

          color: #f1c40f;
        }

        90% {

          color: #2980b9;
        }

        100% {

          color: pink;
        }
}


.moon{
  position: absolute;
  left:20%;
  top:25%;
  height:200px;
  width:200px;
  background-color: transparent;
  border:none;
  border-radius: 50%;
  box-shadow: -60px 0px yellow;
  transform: rotate(-40deg);
}

.santa>img{
  width:300px;
  height:auto;
  transform: rotate(-20deg);
  display: block;
  position: absolute;
  left:0%;
  bottom:0%;
  animation:santa 38s infinite linear;
}

@keyframes santa {
  25% {
  bottom: 80%;
  left: 85%;
  transform: rotateY(0deg);
  }
  26% {
  transform: rotateY(180deg);
  }
  50% {
   bottom:60%;
   left: 0%;
   transform: rotateY(180deg);
  }
  51% {
   transform: rotateY(0deg);
  }
  75% {
   bottom:40%;
   left: 85%;
   transform: rotateY(0deg);
  }
  76% {
   bottom:40%;
   left: 85%;
   transform: rotateY(180deg);
  }
  99% {
   transform: rotateY(180deg);
  }
}

/* christmas-light */
